/* General CSS Topics */
body {
  color: rgb(50, 50, 50); /* rgb() */
  background-color: #f4f4f4; /* hex code */
}

h1 {
  color: hsl(210, 70%, 40%); /* hsl() */
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  color: orange; /* Color name */
  margin-top: 0;
  margin-bottom: 0;
}

/* CSS Variables & Fallbacks */
:root {
  --main-font-size: 16px;
  --accent-color: #007bff;
}

body {
  font-size: var(--main-font-size, 14px); /* CSS variable with fallback */
}

/* Background */
header {
  background-color: rgba(234, 159, 142, 0.5); /* rgba() for background */
  padding: 1em 1em;
  border-bottom: 1px solid #ddd;
}

/* Unit */
h1 {
  font-size: 2.5em; /* relative unit: em */
}

section {
  padding: 5%; /* relative unit: % */
  margin-bottom: 2vh; /* relative unit: vh */
}

p {
  line-height: 1.6;
  font-size: 16px; /* absolute unit: px */
  margin-top: 0.5em;
  margin-bottom: 1em;
}
