/* General CSS Topics */
body {
  color: rgb(50, 50, 50); /* rgb() */
  background-color: #f4f4f4; /* hex code */
}

h1 {
  color: hsl(210, 70%, 40%); /* hsl() */
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  color: orange; /* Color name */
  margin-top: 0;
  margin-bottom: 0;
}

/* CSS Variables & Fallbacks */
:root {
  --main-font-size: 16px;
  --accent-color: #007bff;
}

body {
  font-size: var(--main-font-size, 14px); /* CSS variable with fallback */
}

/* Background */
header {
  background-color: rgba(234, 159, 142, 0.5); /* rgba() for background */
  padding: 1em 1em;
  border-bottom: 1px solid #ddd;
}

/* Unit */
h1 {
  font-size: 2.5em; /* relative unit: em */
}

section {
  padding: 5%; /* relative unit: % */
  margin-bottom: 2vh; /* relative unit: vh */
}

p {
  line-height: 1.6;
  font-size: 16px; /* absolute unit: px */
  margin-top: 0.5em;
  margin-bottom: 1em;
} /* checkpoint1 */

/* Box Model */
.agenda-section {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 15px;
  margin-right: 15px;
}

ul {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 10px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

/* Border - Longhand */
.feedback-form fieldset {
  border-style: solid;
  border-color: #aaa;
  border-width: 1px;
}

/* Margin - Shorthand */
nav span {
  margin: 0 2px; /* top-bottom right-left */
}

/* Padding - Shorthand */
header {
  padding: 1.5em; /* top-bottom right-left */
}

/* Auto margins */
nav {
  width: 80%;
  margin: 1em auto; /* centers the nav horizontally */
  text-align: center;
}

/* Border-radius */
.feedback-form fieldset {
  border-radius: 10px;
}

/* Text */
h1 {
  text-align: center; /* text-align */
  text-decoration: underline wavy var(--accent-color); /* text-decoration */
}

/* Display */
.hidden {
  display: none; /* none */
}

li strong {
  display: inline-block; /* inline-block */
  color: green;
}

/* Sizing */
.diagram {
  height: auto;
  width: 95%;
  max-width: 700px; /* max-width */
  min-width: 300px; /* min-width */
}

/* Position */
footer {
  position: fixed; /* fixed */
  bottom: 0;
  width: 100%;
  background-color: #eee;
  text-align: center;
  padding: 0;
}

/* Pseudo-class */
nav a:hover {
  color: brown; /* :hover */
  text-decoration: none;
}

/* Layouts - Flexbox */
.attendance ul {
  display: flex; /* flex */
  flex-direction: row; /* flexbox attribute */
  justify-content: flex-start; /* flexbox attribute */
  align-items: baseline; /* flexbox attribute */
  gap: 1em; /* flexbox attribute */
  list-style: none;
  padding: 0;
  flex-wrap: wrap; /* flexbox attribute */
}

/* Layouts - Grid */
.miscellaneous ul {
  display: grid; /* grid */
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* grid attribute */
  gap: 1em; /* grid attribute */
  padding: 0;
  list-style: none;
  grid-auto-rows: min-content; /* grid attribute */
}
